.button{
    display: flex;
    justify-content: center;
    gap: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body>.stop{
    font-size: 70px;
    color: aqua;
    text-shadow: 5px 5px 5px white;
}
#time,#startTime{
    margin-left: 50px;
}
#typedText{
    background-color: antiquewhite;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    align-items:start;
    margin-left: 150px;
    background-color: #d5d5d5;
    background-image: url("https://t3.ftcdn.net/jpg/09/77/93/80/360_F_977938084_K6tralKaS8vVejafSmxKlMmhW6fyd4KH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#text{
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 5px black;
}
#startTime:hover,#stopTime:hover,#resetTime:hover{
    color:black;
    font-weight: bolder;
    font-size:larger;
    background-color: rgb(233, 233, 233);
    box-shadow: 5px 5px 10px black;
    transform: scaleX(1.1);
}